In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # 한 실행칸에 프린트 여러개 해도 다 출력시키도록 하는 코드.
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from pandas.tseries.offsets import MonthEnd
pd.set_option("display.max_rows", 101)

In [2]:
kdata = pd.read_excel('./kospi.xlsx')
gwdata = pd.read_excel('./PredictorData2016.xlsx')
snpdata = pd.read_csv('./SP500Ret_for_Goyal_Welch_Comparison.csv')
kdata.head()
gwdata.head()
snpdata.head()

  Unnamed: 0     코스피
0 2000-02-29  828.38
1 2000-03-31  860.94
2 2000-04-30  725.39
3 2000-05-31  731.88
4 2000-06-30  821.22

,yyyymm,Index,D12,E12,b/m,tbl,AAA,BAA,lty,ntis,Rfree,infl,ltr,corpr,svar,csp,CRSP_SPvw,CRSP_SPvwx
0,187101,4.44,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004955,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,187102,4.50,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004514,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,187103,4.61,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004243,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,187104,4.74,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004632,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,187105,4.86,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.003691,NaN,NaN,NaN,NaN,NaN,NaN,NaN

      caldt    vwretd    ewretd
0  19251231       NaN       NaN
1  19260130 -0.001783  0.006457
2  19260227 -0.033296 -0.039979
3  19260331 -0.057708 -0.067915
4  19260430  0.038522  0.031441

In [3]:
snpdata = snpdata[(snpdata['caldt'] >= 19270100) & (snpdata['caldt'] <= 20151231)]

In [4]:
kdata.columns = ['date', 'kospi_close']
kdata.dtypes

date           datetime64[ns]
kospi_close           float64
dtype: object

In [5]:
gwdata['yyyymm'] = pd.to_datetime(gwdata['yyyymm'], format='%Y%m')
gwdata.dtypes

yyyymm        datetime64[ns]
Index                float64
D12                  float64
E12                  float64
b/m                  float64
tbl                  float64
AAA                  float64
BAA                  float64
lty                  float64
ntis                 float64
Rfree                float64
infl                 float64
ltr                  float64
corpr                float64
svar                 float64
csp                  float64
CRSP_SPvw            float64
CRSP_SPvwx           float64
dtype: object

In [6]:
gwdata.head()
kdata.head()
kdata.tail()

,yyyymm,Index,D12,E12,b/m,tbl,AAA,BAA,lty,ntis,Rfree,infl,ltr,corpr,svar,csp,CRSP_SPvw,CRSP_SPvwx
0,1871-01-01,4.44,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004955,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1871-02-01,4.50,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004514,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1871-03-01,4.61,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004243,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1871-04-01,4.74,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004632,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1871-05-01,4.86,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.003691,NaN,NaN,NaN,NaN,NaN,NaN,NaN

        date  kospi_close
0 2000-02-29       828.38
1 2000-03-31       860.94
2 2000-04-30       725.39
3 2000-05-31       731.88
4 2000-06-30       821.22

          date  kospi_close
245 2020-07-31      2249.37
246 2020-08-31      2326.17
247 2020-09-30      2327.89
248 2020-10-31      2267.15
249 2020-11-19      2547.42

In [7]:
# gwdata.dropna(inplace = True)
# kdata.dropna(inplace = True)
# snpdata.dropna(inplace = True)

In [8]:
gwdata.head()
gwdata.tail()

,yyyymm,Index,D12,E12,b/m,tbl,AAA,BAA,lty,ntis,Rfree,infl,ltr,corpr,svar,csp,CRSP_SPvw,CRSP_SPvwx
0,1871-01-01,4.44,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004955,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1871-02-01,4.50,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004514,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1871-03-01,4.61,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004243,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1871-04-01,4.74,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004632,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1871-05-01,4.86,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.003691,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,yyyymm,Index,D12,E12,b/m,tbl,AAA,BAA,lty,ntis,Rfree,infl,ltr,corpr,svar,csp,CRSP_SPvw,CRSP_SPvwx
1747,2016-08-01,2170.95,44.837087,88.366667,0.315197,0.0030,0.0332,0.0424,0.0186,-0.030728,0.000250,0.000918,-0.0140,0.0016,0.000279,NaN,0.001247,-0.001396
1748,2016-09-01,2168.27,45.025691,89.090000,0.316794,0.0029,0.0341,0.0431,0.0196,-0.032628,0.000242,0.002404,-0.0124,-0.0119,0.001673,NaN,0.000446,-0.001033
1749,2016-10-01,2126.15,45.250662,90.910000,0.319688,0.0033,0.0351,0.0438,0.0220,-0.029000,0.000275,0.001247,-0.0314,-0.0263,0.000364,NaN,-0.017958,-0.019207
1750,2016-11-01,2198.81,45.475633,92.730000,0.303286,0.0045,0.0386,0.0471,0.0267,-0.027394,0.000375,-0.001555,-0.0599,-0.0510,0.000946,NaN,0.035790,0.033007
1751,2016-12-01,2238.83,45.700603,94.550000,0.293479,0.0051,0.0406,0.0483,0.0272,-0.024810,0.000425,0.000327,-0.0057,0.0059,0.000524,NaN,0.019199,0.017568

sample period를 1927년 10월부터 2015년 12월까지로 잡겟다.

In [9]:
gwdata = gwdata[(gwdata['yyyymm'] >= pd.to_datetime('1926-12-01')) & (gwdata['yyyymm'] <= pd.to_datetime('2015-12-31'))]

In [10]:
gwdata
gwdata.reset_index(inplace = True, drop = True)

,yyyymm,Index,D12,E12,b/m,tbl,AAA,BAA,lty,ntis,Rfree,infl,ltr,corpr,svar,csp,CRSP_SPvw,CRSP_SPvwx
671,1926-12-01,13.490000,0.690000,1.240000,0.441476,0.0307,0.0468,0.0568,0.0354,0.050885,0.002558,0.000000,0.0078,0.0056,0.000465,NaN,0.026047,0.020321
672,1927-01-01,13.210000,0.696700,1.229000,0.443706,0.0323,0.0466,0.0561,0.0351,0.050833,0.002692,-0.011299,0.0075,0.0056,0.000470,NaN,-0.002910,-0.005579
673,1927-02-01,13.840000,0.703300,1.218000,0.428501,0.0329,0.0467,0.0559,0.0347,0.051681,0.002742,-0.005714,0.0088,0.0069,0.000287,NaN,0.045522,0.040566
674,1927-03-01,13.930000,0.710000,1.208000,0.469765,0.0320,0.0462,0.0554,0.0331,0.046370,0.002667,-0.005747,0.0253,0.0083,0.000924,NaN,0.007324,0.002610
675,1927-04-01,14.170000,0.716700,1.197000,0.456754,0.0339,0.0458,0.0548,0.0333,0.050518,0.002825,0.000000,-0.0005,0.0055,0.000603,NaN,0.013021,0.010907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1735,2015-08-01,1972.180054,42.254265,92.076667,0.330671,0.0007,0.0404,0.0519,0.0264,-0.009536,0.000058,-0.001416,0.0012,-0.0067,0.005847,NaN,-0.060086,-0.062433
1736,2015-09-01,1920.030029,42.510397,90.660000,0.335612,0.0002,0.0407,0.0534,0.0253,-0.012910,0.000017,-0.001557,0.0174,0.0133,0.004053,NaN,-0.024547,-0.026258
1737,2015-10-01,2079.360107,42.802893,89.283333,0.309414,0.0002,0.0395,0.0534,0.0259,-0.016209,0.000017,-0.000450,-0.0053,0.0020,0.001619,NaN,0.083448,0.082048
1738,2015-11-01,2080.409912,43.095390,87.906667,0.308429,0.0012,0.0406,0.0546,0.0265,-0.017810,0.000100,-0.002111,-0.0065,0.0020,0.001119,NaN,0.003373,0.000817
1739,2015-12-01,2043.939941,43.387887,86.530000,0.313649,0.0023,0.0397,0.0546,0.0268,-0.021611,0.000192,-0.003417,-0.0022,0.0000,0.002839,NaN,-0.015247,-0.017076

In [11]:
gwdata = gwdata.iloc[1:,:]

In [ ]:
gwdata

In [12]:
# independent variable construction
date = gwdata['yyyymm']
index = gwdata['Index']
d12 = gwdata['D12']
e12 = gwdata['E12']
b_m = gwdata['b/m']
tbl = gwdata['tbl']
AAA = gwdata['AAA']
BAA = gwdata['BAA']
lty = gwdata['lty']
ntis = gwdata['ntis']
Rfree = gwdata['Rfree']
infl = gwdata['infl']
ltr = gwdata['ltr']
corpr = gwdata['corpr']
svar = gwdata['svar']
csp = gwdata['csp']
CRSP_SPvw = gwdata['CRSP_SPvw']
CRSP_SPvwx = gwdata['CRSP_SPvwx']

In [13]:
# variables for prediction (Goyal and Welch 2008)
dp_ratio = np.log(d12) - np.log(index)
d_yield = np.log(d12.shift(1)) - np.log(index)
ep_ratio = np.log(e12) - np.log(index)
d_payout_ratio = np.log(d12) - np.log(e12)
stock_variance = svar
btm = b_m
net_equity_expansion = ntis
tbillrate = tbl
long_term_yield = lty
long_term_return = ltr
term_spread = lty - tbl
default_yield_spread = BAA - AAA
inflation = infl

In [14]:
gwdata

,yyyymm,Index,D12,E12,b/m,tbl,AAA,BAA,lty,ntis,Rfree,infl,ltr,corpr,svar,csp,CRSP_SPvw,CRSP_SPvwx
1,1927-01-01,13.210000,0.696700,1.229000,0.443706,0.0323,0.0466,0.0561,0.0351,0.050833,0.002692,-0.011299,0.0075,0.0056,0.000470,NaN,-0.002910,-0.005579
2,1927-02-01,13.840000,0.703300,1.218000,0.428501,0.0329,0.0467,0.0559,0.0347,0.051681,0.002742,-0.005714,0.0088,0.0069,0.000287,NaN,0.045522,0.040566
3,1927-03-01,13.930000,0.710000,1.208000,0.469765,0.0320,0.0462,0.0554,0.0331,0.046370,0.002667,-0.005747,0.0253,0.0083,0.000924,NaN,0.007324,0.002610
4,1927-04-01,14.170000,0.716700,1.197000,0.456754,0.0339,0.0458,0.0548,0.0333,0.050518,0.002825,0.000000,-0.0005,0.0055,0.000603,NaN,0.013021,0.010907
5,1927-05-01,14.910000,0.723300,1.186000,0.434783,0.0333,0.0457,0.0550,0.0327,0.055279,0.002775,0.005780,0.0109,-0.0011,0.000392,NaN,0.062353,0.057096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064,2015-08-01,1972.180054,42.254265,92.076667,0.330671,0.0007,0.0404,0.0519,0.0264,-0.009536,0.000058,-0.001416,0.0012,-0.0067,0.005847,NaN,-0.060086,-0.062433
1065,2015-09-01,1920.030029,42.510397,90.660000,0.335612,0.0002,0.0407,0.0534,0.0253,-0.012910,0.000017,-0.001557,0.0174,0.0133,0.004053,NaN,-0.024547,-0.026258
1066,2015-10-01,2079.360107,42.802893,89.283333,0.309414,0.0002,0.0395,0.0534,0.0259,-0.016209,0.000017,-0.000450,-0.0053,0.0020,0.001619,NaN,0.083448,0.082048
1067,2015-11-01,2080.409912,43.095390,87.906667,0.308429,0.0012,0.0406,0.0546,0.0265,-0.017810,0.000100,-0.002111,-0.0065,0.0020,0.001119,NaN,0.003373,0.000817
1068,2015-12-01,2043.939941,43.387887,86.530000,0.313649,0.0023,0.0397,0.0546,0.0268,-0.021611,0.000192,-0.003417,-0.0022,0.0000,0.002839,NaN,-0.015247,-0.017076

In [15]:
set_of_predictors = gwdata.copy()
set_of_predictors['dp_ratio'] = dp_ratio
set_of_predictors['d_yield'] = d_yield
set_of_predictors['ep_ratio'] = ep_ratio
set_of_predictors['d_payout_ratio'] = d_payout_ratio
set_of_predictors['stock_variance'] = stock_variance
set_of_predictors['btm'] = btm
set_of_predictors['net_equity_expansion'] = net_equity_expansion
set_of_predictors['tbillrate'] = tbillrate
set_of_predictors['long_term_yield'] = long_term_yield
set_of_predictors['long_term_return'] = long_term_return
set_of_predictors['term_spread'] = term_spread
set_of_predictors['default_yield_spread'] = default_yield_spread
set_of_predictors['inflation'] = inflation
set_of_predictors['date'] = pd.to_datetime(set_of_predictors['yyyymm'], format = '%Y%m')+ MonthEnd(1)
set_of_predictors.drop(gwdata.columns.to_list(), axis = 1, inplace = True)
set_of_predictors.head()

,dp_ratio,d_yield,ep_ratio,d_payout_ratio,stock_variance,btm,net_equity_expansion,tbillrate,long_term_yield,long_term_return,term_spread,default_yield_spread,inflation,date
1,-2.942374,NaN,-2.374773,-0.567601,0.000470,0.443706,0.050833,0.0323,0.0351,0.0075,0.0028,0.0095,-0.011299,1927-01-31
2,-2.979535,-2.988963,-2.430353,-0.549182,0.000287,0.428501,0.051681,0.0329,0.0347,0.0088,0.0018,0.0092,-0.005714,1927-02-28
3,-2.976535,-2.986017,-2.445079,-0.531456,0.000924,0.469765,0.046370,0.0320,0.0331,0.0253,0.0011,0.0092,-0.005747,1927-03-31
4,-2.984225,-2.993617,-2.471309,-0.512916,0.000603,0.456754,0.050518,0.0339,0.0333,-0.0005,-0.0006,0.0090,0.000000,1927-04-30
5,-3.025963,-3.035130,-2.531446,-0.494518,0.000392,0.434783,0.055279,0.0333,0.0327,0.0109,-0.0006,0.0093,0.005780,1927-05-31

regression with S&P500 data

In [16]:
# in-sample regression (from 1996/01 to 2015/12)
snpdata = snpdata[snpdata['caldt'] >= 19960100]
snpdata.dropna(inplace = True)
snpdata.reset_index(inplace = True, drop = True)
snpdata.head()
snpdata.tail()

      caldt    vwretd    ewretd
0  19960131  0.034861  0.030677
1  19960229  0.010088  0.012873
2  19960329  0.009585  0.019612
3  19960430  0.015133  0.028410
4  19960531  0.025257  0.013102

        caldt    vwretd    ewretd
235  20150831 -0.060086 -0.053687
236  20150930 -0.024547 -0.033593
237  20151030  0.083448  0.073634
238  20151130  0.003373  0.002899
239  20151231 -0.015247 -0.025283

In [17]:
# Matching time for the predictive regression
snp500_to_be_predicted = snpdata['vwretd'].iloc[1:]
predictors_to_be_used = set_of_predictors[set_of_predictors['date'] >= '1996-01-01'].iloc[:-1,:-1]

In [18]:
# Regression
number_of_predictors = len(predictors_to_be_used.columns.to_list())
name_of_predictors = predictors_to_be_used.columns.to_list()
in_sample_r_squared = np.zeros(number_of_predictors)

In [19]:
number_of_predictors
name_of_predictors
in_sample_r_squared

13

['dp_ratio',
 'd_yield',
 'ep_ratio',
 'd_payout_ratio',
 'stock_variance',
 'btm',
 'net_equity_expansion',
 'tbillrate',
 'long_term_yield',
 'long_term_return',
 'term_spread',
 'default_yield_spread',
 'inflation']

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [20]:
for i in range(len(name_of_predictors)):
    lr = LinearRegression()
    lr.fit(predictors_to_be_used[name_of_predictors[i]].to_numpy().reshape(-1, 1), snp500_to_be_predicted.to_numpy().reshape(-1, 1))
    y_pred = lr.predict(predictors_to_be_used[name_of_predictors[i]].to_numpy().reshape(-1, 1))
    in_sample_r_squared[i] = r2_score(snp500_to_be_predicted.to_numpy().reshape(-1, 1), y_pred)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
in_sample_r_squared

array([1.11336572e-02, 1.10464002e-02, 2.45924525e-03, 4.08683740e-05,
       2.08447766e-02, 1.74333689e-03, 1.83966182e-02, 9.95447452e-06,
       6.84131591e-04, 1.33889799e-03, 9.79669370e-04, 6.05959787e-03,
       1.25679174e-03])

# R2-score with KOSPI data

## (i) Use each predictor and get the R2 score

In [22]:
# in-sample regression (from 2000/03/31 to 2015/12)
kdata = kdata[(kdata['date'] >= '2000-01-01') & (kdata['date'] <= '2020-11-01')]
kdata['ret'] = np.log(kdata['kospi_close']) - np.log(kdata['kospi_close'].shift(1))
kdata.dropna(inplace = True)
kdata.reset_index(drop = True, inplace = True)
kdata.drop('kospi_close', axis = 1, inplace = True)
kdata.head()
kdata.tail()

        date       ret
0 2000-03-31  0.038553
1 2000-04-30 -0.171315
2 2000-05-31  0.008907
3 2000-06-30  0.115174
4 2000-07-31 -0.151218

          date       ret
243 2020-06-30  0.038057
244 2020-07-31  0.064754
245 2020-08-31  0.033573
246 2020-09-30  0.000739
247 2020-10-31 -0.026439

In [23]:
# in-sample regression (from 2000/03/31 to 2015/12)
kdata
set_of_predictors

          date       ret
0   2000-03-31  0.038553
1   2000-04-30 -0.171315
2   2000-05-31  0.008907
3   2000-06-30  0.115174
4   2000-07-31 -0.151218
..         ...       ...
243 2020-06-30  0.038057
244 2020-07-31  0.064754
245 2020-08-31  0.033573
246 2020-09-30  0.000739
247 2020-10-31 -0.026439

[248 rows x 2 columns]

,dp_ratio,d_yield,ep_ratio,d_payout_ratio,stock_variance,btm,net_equity_expansion,tbillrate,long_term_yield,long_term_return,term_spread,default_yield_spread,inflation,date
1,-2.942374,NaN,-2.374773,-0.567601,0.000470,0.443706,0.050833,0.0323,0.0351,0.0075,0.0028,0.0095,-0.011299,1927-01-31
2,-2.979535,-2.988963,-2.430353,-0.549182,0.000287,0.428501,0.051681,0.0329,0.0347,0.0088,0.0018,0.0092,-0.005714,1927-02-28
3,-2.976535,-2.986017,-2.445079,-0.531456,0.000924,0.469765,0.046370,0.0320,0.0331,0.0253,0.0011,0.0092,-0.005747,1927-03-31
4,-2.984225,-2.993617,-2.471309,-0.512916,0.000603,0.456754,0.050518,0.0339,0.0333,-0.0005,-0.0006,0.0090,0.000000,1927-04-30
5,-3.025963,-3.035130,-2.531446,-0.494518,0.000392,0.434783,0.055279,0.0333,0.0327,0.0109,-0.0006,0.0093,0.005780,1927-05-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064,-3.843190,-3.849270,-3.064273,-0.778916,0.005847,0.330671,-0.009536,0.0007,0.0264,0.0012,0.0257,0.0115,-0.001416,2015-08-31
1065,-3.810347,-3.816391,-3.052980,-0.757368,0.004053,0.335612,-0.012910,0.0002,0.0253,0.0174,0.0251,0.0127,-0.001557,2015-09-30
1066,-3.883210,-3.890067,-3.148001,-0.735209,0.001619,0.309414,-0.016209,0.0002,0.0259,-0.0053,0.0257,0.0139,-0.000450,2015-10-31
1067,-3.876904,-3.883715,-3.164045,-0.712860,0.001119,0.308429,-0.017810,0.0012,0.0265,-0.0065,0.0253,0.0140,-0.002111,2015-11-30
1068,-3.852454,-3.859219,-3.162143,-0.690311,0.002839,0.313649,-0.021611,0.0023,0.0268,-0.0022,0.0245,0.0149,-0.003417,2015-12-31

In [24]:
# Matching time for the predictive regression
date_from = '2000-03-31'
date_to = '2015-12-31'
kospi_to_be_predicted = kdata[(kdata['date'] >= date_from) & (kdata['date'] <= date_to)]['ret']
predictors_to_be_used = set_of_predictors[(set_of_predictors['date'] >= date_from) & (set_of_predictors['date'] <= date_to)].iloc[:,:-1]

In [25]:
# Regression
number_of_predictors = len(predictors_to_be_used.columns.to_list())
name_of_predictors = predictors_to_be_used.columns.to_list()
in_sample_r_squared = np.zeros(number_of_predictors)

In [26]:
for i in range(len(name_of_predictors)):
    lr = LinearRegression()
    lr.fit(predictors_to_be_used[name_of_predictors[i]].to_numpy().reshape(-1, 1), kospi_to_be_predicted.to_numpy().reshape(-1, 1))
    y_pred = lr.predict(predictors_to_be_used[name_of_predictors[i]].to_numpy().reshape(-1, 1))
    in_sample_r_squared[i] = r2_score(kospi_to_be_predicted.to_numpy().reshape(-1, 1), y_pred)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### (i) 결과

In [27]:
each_predictor_result = pd.DataFrame(data = np.array([name_of_predictors, in_sample_r_squared]).T, columns = ['name_of_predictors', 'r_squared'])
each_predictor_result

      name_of_predictors              r_squared
0               dp_ratio  0.0013603409142538547
1                d_yield  0.0013335870357568114
2               ep_ratio   0.009520980093008391
3         d_payout_ratio   0.004663364850288398
4         stock_variance    0.08796321917712957
5                    btm   0.003982986348865292
6   net_equity_expansion   0.003122013931929457
7              tbillrate   0.001674570603108938
8        long_term_yield  0.0001239438178780583
9       long_term_return    0.04429866803536053
10           term_spread  0.0023458740011010892
11  default_yield_spread  6.361052475489792e-05
12             inflation  0.0021738657399452688

## (ii) Use all predictor with expending window and get the R2 score

- date_from : 2000-03-31
- date_to : from 2009-12-31 to 2015-12-31

In [28]:
kdata = pd.read_excel('./kospi.xlsx')
kdata.columns = ['date', 'kospi_close']

In [29]:
# in-sample regression (from 2000/03/31 to 2015/12)
kdata = kdata[(kdata['date'] >= '2000-01-01') & (kdata['date'] <= '2020-11-01')]
kdata['ret'] = np.log(kdata['kospi_close']) - np.log(kdata['kospi_close'].shift(1))
kdata.dropna(inplace = True)
kdata.reset_index(drop = True, inplace = True)
kdata.drop('kospi_close', axis = 1, inplace = True)
kdata.head()
kdata.tail()

        date       ret
0 2000-03-31  0.038553
1 2000-04-30 -0.171315
2 2000-05-31  0.008907
3 2000-06-30  0.115174
4 2000-07-31 -0.151218

          date       ret
243 2020-06-30  0.038057
244 2020-07-31  0.064754
245 2020-08-31  0.033573
246 2020-09-30  0.000739
247 2020-10-31 -0.026439

In [30]:
set_of_predictors

,dp_ratio,d_yield,ep_ratio,d_payout_ratio,stock_variance,btm,net_equity_expansion,tbillrate,long_term_yield,long_term_return,term_spread,default_yield_spread,inflation,date
1,-2.942374,NaN,-2.374773,-0.567601,0.000470,0.443706,0.050833,0.0323,0.0351,0.0075,0.0028,0.0095,-0.011299,1927-01-31
2,-2.979535,-2.988963,-2.430353,-0.549182,0.000287,0.428501,0.051681,0.0329,0.0347,0.0088,0.0018,0.0092,-0.005714,1927-02-28
3,-2.976535,-2.986017,-2.445079,-0.531456,0.000924,0.469765,0.046370,0.0320,0.0331,0.0253,0.0011,0.0092,-0.005747,1927-03-31
4,-2.984225,-2.993617,-2.471309,-0.512916,0.000603,0.456754,0.050518,0.0339,0.0333,-0.0005,-0.0006,0.0090,0.000000,1927-04-30
5,-3.025963,-3.035130,-2.531446,-0.494518,0.000392,0.434783,0.055279,0.0333,0.0327,0.0109,-0.0006,0.0093,0.005780,1927-05-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064,-3.843190,-3.849270,-3.064273,-0.778916,0.005847,0.330671,-0.009536,0.0007,0.0264,0.0012,0.0257,0.0115,-0.001416,2015-08-31
1065,-3.810347,-3.816391,-3.052980,-0.757368,0.004053,0.335612,-0.012910,0.0002,0.0253,0.0174,0.0251,0.0127,-0.001557,2015-09-30
1066,-3.883210,-3.890067,-3.148001,-0.735209,0.001619,0.309414,-0.016209,0.0002,0.0259,-0.0053,0.0257,0.0139,-0.000450,2015-10-31
1067,-3.876904,-3.883715,-3.164045,-0.712860,0.001119,0.308429,-0.017810,0.0012,0.0265,-0.0065,0.0253,0.0140,-0.002111,2015-11-30
1068,-3.852454,-3.859219,-3.162143,-0.690311,0.002839,0.313649,-0.021611,0.0023,0.0268,-0.0022,0.0245,0.0149,-0.003417,2015-12-31

In [31]:
date_from = '2000-03-31'
date_end_range = pd.period_range('2010', '2016', freq='M')
expending_r_squared = np.zeros(len(date_end_range))
daterange_list = []
for i in range(len(date_end_range)):
    date_to = str(date_end_range[i])
    kospi_to_be_predicted = kdata[(kdata['date'] >= date_from) & (kdata['date'] < date_to)]['ret']
    predictors_to_be_used = set_of_predictors[(set_of_predictors['date'] >= date_from) & (set_of_predictors['date'] < date_to)].iloc[:,:-1]
    lr = LinearRegression()
    lr.fit(predictors_to_be_used, kospi_to_be_predicted.to_numpy().reshape(-1, 1))
    y_pred = lr.predict(predictors_to_be_used)
    expending_r_squared[i] = r2_score(kospi_to_be_predicted.to_numpy().reshape(-1, 1), y_pred)
    daterange_list.append(date_from + ' ~ ' + date_to)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [32]:
daterange_list
expending_r_squared

['2000-03-31 ~ 2010-01',
 '2000-03-31 ~ 2010-02',
 '2000-03-31 ~ 2010-03',
 '2000-03-31 ~ 2010-04',
 '2000-03-31 ~ 2010-05',
 '2000-03-31 ~ 2010-06',
 '2000-03-31 ~ 2010-07',
 '2000-03-31 ~ 2010-08',
 '2000-03-31 ~ 2010-09',
 '2000-03-31 ~ 2010-10',
 '2000-03-31 ~ 2010-11',
 '2000-03-31 ~ 2010-12',
 '2000-03-31 ~ 2011-01',
 '2000-03-31 ~ 2011-02',
 '2000-03-31 ~ 2011-03',
 '2000-03-31 ~ 2011-04',
 '2000-03-31 ~ 2011-05',
 '2000-03-31 ~ 2011-06',
 '2000-03-31 ~ 2011-07',
 '2000-03-31 ~ 2011-08',
 '2000-03-31 ~ 2011-09',
 '2000-03-31 ~ 2011-10',
 '2000-03-31 ~ 2011-11',
 '2000-03-31 ~ 2011-12',
 '2000-03-31 ~ 2012-01',
 '2000-03-31 ~ 2012-02',
 '2000-03-31 ~ 2012-03',
 '2000-03-31 ~ 2012-04',
 '2000-03-31 ~ 2012-05',
 '2000-03-31 ~ 2012-06',
 '2000-03-31 ~ 2012-07',
 '2000-03-31 ~ 2012-08',
 '2000-03-31 ~ 2012-09',
 '2000-03-31 ~ 2012-10',
 '2000-03-31 ~ 2012-11',
 '2000-03-31 ~ 2012-12',
 '2000-03-31 ~ 2013-01',
 '2000-03-31 ~ 2013-02',
 '2000-03-31 ~ 2013-03',
 '2000-03-31 ~ 2013-04',
 '2000-03-31 ~ 2013-05',
 '2000-03-31 ~ 2013-06',
 '2000-03-31 ~ 2013-07',
 '2000-03-31 ~ 2013-08',
 '2000-03-31 ~ 2013-09',
 '2000-03-31 ~ 2013-10',
 '2000-03-31 ~ 2013-11',
 '2000-03-31 ~ 2013-12',
 '2000-03-31 ~ 2014-01',
 '2000-03-31 ~ 2014-02',
 '2000-03-31 ~ 2014-03',
 '2000-03-31 ~ 2014-04',
 '2000-03-31 ~ 2014-05',
 '2000-03-31 ~ 2014-06',
 '2000-03-31 ~ 2014-07',
 '2000-03-31 ~ 2014-08',
 '2000-03-31 ~ 2014-09',
 '2000-03-31 ~ 2014-10',
 '2000-03-31 ~ 2014-11',
 '2000-03-31 ~ 2014-12',
 '2000-03-31 ~ 2015-01',
 '2000-03-31 ~ 2015-02',
 '2000-03-31 ~ 2015-03',
 '2000-03-31 ~ 2015-04',
 '2000-03-31 ~ 2015-05',
 '2000-03-31 ~ 2015-06',
 '2000-03-31 ~ 2015-07',
 '2000-03-31 ~ 2015-08',
 '2000-03-31 ~ 2015-09',
 '2000-03-31 ~ 2015-10',
 '2000-03-31 ~ 2015-11',
 '2000-03-31 ~ 2015-12',
 '2000-03-31 ~ 2016-01']

array([0.28699496, 0.28750163, 0.28433802, 0.28015472, 0.27876671,
       0.28181793, 0.28016622, 0.28055258, 0.27863619, 0.28439414,
       0.27234096, 0.2711899 , 0.27022041, 0.27250526, 0.26926816,
       0.26985233, 0.26680826, 0.26484631, 0.26179281, 0.26402692,
       0.27147484, 0.26390318, 0.26685169, 0.25724224, 0.23589178,
       0.24941539, 0.24670242, 0.24034342, 0.23773516, 0.22867797,
       0.22438613, 0.22249609, 0.21884583, 0.21693904, 0.21417984,
       0.21384133, 0.21078079, 0.18913459, 0.21064121, 0.21030363,
       0.21134621, 0.21015116, 0.20646976, 0.20686655, 0.20674614,
       0.20567788, 0.20728524, 0.20326083, 0.20547655, 0.20772567,
       0.20678078, 0.20655243, 0.20683053, 0.20544389, 0.20571331,
       0.20512612, 0.20498875, 0.2030926 , 0.19874865, 0.19943664,
       0.19914317, 0.20232509, 0.20213064, 0.20139438, 0.20331966,
       0.20211551, 0.20111802, 0.20021885, 0.19713395, 0.20062131,
       0.20252761, 0.19022823, 0.19486913])

In [33]:
expanding_result = pd.DataFrame(data = np.array([np.array(daterange_list).T, expending_r_squared.T]).T, columns = ['date_range', 'expending_r2_score'])

### (ii) 결과 :  expanding period에서의 r_squared score를 아래와 같이 볼 수 있다.

In [34]:
expanding_result.head(100)

              date_range   expending_r2_score
0   2000-03-31 ~ 2010-01   0.2869949630926628
1   2000-03-31 ~ 2010-02  0.28750162562864545
2   2000-03-31 ~ 2010-03   0.2843380227297534
3   2000-03-31 ~ 2010-04   0.2801547205323366
4   2000-03-31 ~ 2010-05  0.27876671293339295
5   2000-03-31 ~ 2010-06  0.28181793374281194
6   2000-03-31 ~ 2010-07   0.2801662224615571
7   2000-03-31 ~ 2010-08   0.2805525825072609
8   2000-03-31 ~ 2010-09   0.2786361889090503
9   2000-03-31 ~ 2010-10   0.2843941447016285
10  2000-03-31 ~ 2010-11    0.272340961304244
11  2000-03-31 ~ 2010-12  0.27118989923648673
12  2000-03-31 ~ 2011-01   0.2702204124204962
13  2000-03-31 ~ 2011-02  0.27250525784953916
14  2000-03-31 ~ 2011-03  0.26926815649533475
15  2000-03-31 ~ 2011-04  0.26985232867191955
16  2000-03-31 ~ 2011-05   0.2668082643556995
17  2000-03-31 ~ 2011-06  0.26484630773057494
18  2000-03-31 ~ 2011-07  0.26179280915208314
19  2000-03-31 ~ 2011-08   0.2640269186754761
20  2000-03-31 ~ 2011-09   0.2714748367942078
21  2000-03-31 ~ 2011-10   0.2639031828324576
22  2000-03-31 ~ 2011-11   0.2668516885634401
23  2000-03-31 ~ 2011-12   0.2572422413704166
24  2000-03-31 ~ 2012-01    0.235891777484746
25  2000-03-31 ~ 2012-02   0.2494153923775413
26  2000-03-31 ~ 2012-03  0.24670241685142769
27  2000-03-31 ~ 2012-04  0.24034341904653966
28  2000-03-31 ~ 2012-05  0.23773515838855008
29  2000-03-31 ~ 2012-06  0.22867797229626374
30  2000-03-31 ~ 2012-07   0.2243861278300845
31  2000-03-31 ~ 2012-08  0.22249609063044462
32  2000-03-31 ~ 2012-09   0.2188458275900711
33  2000-03-31 ~ 2012-10   0.2169390379685774
34  2000-03-31 ~ 2012-11  0.21417984090819975
35  2000-03-31 ~ 2012-12   0.2138413291042589
36  2000-03-31 ~ 2013-01  0.21078079147557782
37  2000-03-31 ~ 2013-02  0.18913458940613093
38  2000-03-31 ~ 2013-03  0.21064120509962014
39  2000-03-31 ~ 2013-04  0.21030362555684712
40  2000-03-31 ~ 2013-05  0.21134620822698713
41  2000-03-31 ~ 2013-06  0.21015116307663295
42  2000-03-31 ~ 2013-07   0.2064697554168099
43  2000-03-31 ~ 2013-08  0.20686654962349482
44  2000-03-31 ~ 2013-09  0.20674614312227912
45  2000-03-31 ~ 2013-10   0.2056778757681368
46  2000-03-31 ~ 2013-11  0.20728523650889952
47  2000-03-31 ~ 2013-12  0.20326083296538588
48  2000-03-31 ~ 2014-01  0.20547655071417392
49  2000-03-31 ~ 2014-02  0.20772567378823803
50  2000-03-31 ~ 2014-03  0.20678077848838006
51  2000-03-31 ~ 2014-04  0.20655242654914296
52  2000-03-31 ~ 2014-05  0.20683052683757497
53  2000-03-31 ~ 2014-06  0.20544389293261045
54  2000-03-31 ~ 2014-07  0.20571330772057717
55  2000-03-31 ~ 2014-08  0.20512611865575114
56  2000-03-31 ~ 2014-09    0.204988748944674
57  2000-03-31 ~ 2014-10  0.20309259789438894
58  2000-03-31 ~ 2014-11   0.1987486534770998
59  2000-03-31 ~ 2014-12  0.19943663686393687
60  2000-03-31 ~ 2015-01  0.19914317476141175
61  2000-03-31 ~ 2015-02  0.20232509318484426
62  2000-03-31 ~ 2015-03  0.20213064299884642
63  2000-03-31 ~ 2015-04   0.2013943829949223
64  2000-03-31 ~ 2015-05  0.20331965828843135
65  2000-03-31 ~ 2015-06  0.20211551103647796
66  2000-03-31 ~ 2015-07  0.20111801910110594
67  2000-03-31 ~ 2015-08   0.2002188476425002
68  2000-03-31 ~ 2015-09  0.19713395003757994
69  2000-03-31 ~ 2015-10  0.20062130789240207
70  2000-03-31 ~ 2015-11   0.2025276076997139
71  2000-03-31 ~ 2015-12   0.1902282311763156
72  2000-03-31 ~ 2016-01  0.19486912636677767